.current-ticket-page{
    text-align: center
}

.current-ticket-page h1{
    font-size: 35;
}

.current-ticket-page h2{
    font-size: 25px;
}

.current-ticket-page img{
    height: 20vh;
    width: 20vh;
}

.ticket-pic-description {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.lowrisk-ticket {
    color: green;
    font-weight: 600
  }
  
.mediumrisk-ticket {
    color: rgb(200, 200, 0);
    font-weight: 600
  }
  
.highrisk-ticket {
    color: red;
    font-weight: 600
  }
.edit-button {
    float: left;
    padding: 20px;
}
.return-to-events {
    float: right;
    padding: 20px
}

.ticket-details-image {
    float: right;
    padding-right: 10px;
}

.ticket-details-desc {
    float: left;
    padding-left: 10px;
}

.title-parent-event {
    margin: 0 auto;
}