.outer-paper {
  margin-top: 20px;
  margin: auto;
  padding: 20px;
  width: 60%;
}

.lowrisk {
  color: green;
  font-weight: 600
}

.mediumrisk {
  color: rgb(200, 200, 0);
  font-weight: 600
}

.highrisk {
  color: red;
  font-weight: 600
}
.columns {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  margin: 0 auto;
}
.ticket-name-grid {
  height: 105px;
  border-top: solid black;
}

.ticket-price-grid {
  height: 105px;
  border-top: solid black;
}

.ticket-description-grid { 
  height: 105px;
  border-top: solid black;
}

.ticket-image-grid {
  height: 105px;
  border-top: solid black;
}

.event-details-page {
  width: 80vw;
  text-align: center;
}