h2 {
  margin-bottom: 16px;
  font-size: 14px;
}

.game-card {
  margin: 10px 10px 10px 0px;
}

.create-game {
  margin-top: 10px !important;
}

.outer-paper {
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  width: 60%;
  display: grid !important;
}

.event-grid {
  grid-template-columns: 1fr 1fr 1fr !important;
}

img {
  height: 100px;
  width: 100px
}
