.login-form {
  margin-top: 20vh;
  color: white;
}

.login-form label {
  display: block;
}
.login-page {
  text-align: center;
  height: 80vh;
}
.login-box {
  margin: auto;
  background-color: black;
  height: 20vh;
  width: 45vh;
}
